@charset "UTF-8";
input{
    display: inline-block;
    width: 15%;
    margin-left: 50ch;
}
  
form{
    background: violet;
}  

h2{
    font-size: 1.75rem;
    margin: 0 0 .5rem 0;
    font-weight: 700;
    text-align: center;
}