@charset "UTF-8";

body{
	overflow: scroll;	
}


.liste{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
	margin-left: 87ch;
	top: 15ch;
}

h2{
	align-items: center;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75rem;
    margin: 0 0 .5rem 0;
    font-weight: 700;
    text-align: center;
    top: 4ch;
}