@charset "UTF-8";

body{
	overflow: scroll;		
}

h2 {
	background: rgb(255, 255, 255);
	border-color: #000, solid;
		
}

.listeArticle{
	width: 90%;
	display: flex; 
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center
}

.article{
	border: 1px solid black; 
	background-color: lightgray;
	width: 400px;
}