@charset "UTF-8";

body{
	overflow: scroll;		
}

h2 {
	background: rgb(255, 255, 255);
	border-color: #000, solid;
		
}

.Enchere {
	top: 20ch;
	position: relative;
	margin-left: 3ch;
	width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.rechercher{
	position: relative;
	width: 13%;
	height: 70px;
	top: 2ch;
	margin-left: 50ch;
    color:#000;
    box-shadow:3px 8px #2a2a2a;
}

.search{
	position: relative;
	width: 13%;
	height: 40px;
	top: 20ch;
	margin-left: 3ch;
}

.Categorie{
	position: relative;
	top: 10ch;
	margin-left: 3ch;
}

.liste1{
	position: relative;
	margin-left: 3ch;
	bottom: 5ch;
}

.liste2{
	position: relative;
	margin-left: 3ch;
	bottom: 5ch;
}